*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
fieldset {
    border: none;
}
input {
    background-color: white;
    border: 2px solid gray;
    padding: var(--section-padding);
}
label {
    display: block;
    margin-bottom: 2px;
}
input {
    width: 100%;
}
/* scrollbar styles */
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-thumb {
    transition: var(--transition);
    background-color: var(--scrollbar-color);
    border-radius: var(--border-radius);
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-hover);
    cursor: pointer;
}
:root {
    --clr-cyan-blue: #3b82f6;
    --clr-dark-sky: #0c1445;
    --clr-dark-slate: #334155;
    --clr-dark-gray: #111827;
    --clr-emerald: #10b981;
    --clr-light-teal: #5eead4;
    /* Scrollbar color is just '--clr-emerald' in rgb form */
    --scrollbar-color: rgba(16, 185, 129, 0.7);
    --scrollbar-color-hover: rgba(16, 185, 129, 1);
    --font-1: "Roboto", sans-serif;
    --font-2: "Open Sans", sans-serif;
    --transition: all 0.25s ease-in-out;
    --border-radius: 6px;
    --padding-btn-link: 6px 12px;
    --section-padding: 8px 16px;
    --letter-spacing: 4px;
}
body {
    font-family: var(--font-1), var(--font-2);
}
button {
    background-color: white;
    padding: var(--section-padding);
    cursor: pointer;
    font-weight: 700;
    font-family: var(--font-1), var(--font-2);
    transition: var(--transition);
    border-style: solid;
}

.green-btn {
    background-color: transparent;
    border-color: var(--clr-emerald);
    color: black;
    border-width: 3px;
}
.green-btn:hover {
    background-color: var(--clr-emerald);
    color: white;
}
.blue-btn {
    background-color: transparent;
    border-color: var(--clr-cyan-blue);
    color: black;
    border-width: 3px;
}
.blue-btn:hover {
    background-color: var(--clr-cyan-blue);
    color: white;
}
.red-btn {
    background-color: transparent;
    border-color: red;
    color: black;
    border-width: 3px;
}
.red-btn:hover {
    background-color: red;
    color: white;
}

.content-hidden {
    display: none !important;
    color: black;
}

/* Styling for content; mainly for having modals */
.content {
    position: relative;
}

/* Styles for modal forms */
/* Blurred overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Blurs the area behind the element  */
    backdrop-filter: blur(5px);
    /* This will be over all other content in project-container */
    z-index: 1;
}

.modal {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    /* Make height min-content since heights will vary due to the different forms */
    height: min-content;
    /* Fancy box shadow */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: var(--clr-light-teal);
    border-radius: var(--border-radius);
    overflow: hidden;
    font-weight: 700;
}

.modal button {
    background-color: transparent;
}
.modal button:hover {
    background-color: black;
    color: white;
}

.modal-header {
    padding: var(--section-padding);
    color: black;
    background-color: var(--clr-emerald);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#close-modal-btn {
    margin-left: 16px;
}

.modal-main-content {
    padding: var(--section-padding);
    margin: 0 auto;
}
.modal-main-content .modal-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.modal-main-content select {
    padding: 8px 16px;
    border: var(--border-radius);
    width: 100%;
}

/* Styles for everything related to the project container */
#project-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

#page-header,
#page-sidebar,
#page-main-content,
#page-footer {
    transition: var(--transition);
}

/* Header styles */
#page-header {
    background-color: var(--clr-emerald);
    font-weight: 700;
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1 / span 2;
}

/* Styles for containers in header */
.app-logo-container,
.user-info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-logo-container {
    flex-basis: 200px;
}
.user-info-section {
    flex-basis: 500px;
}
#toggle-theme-btn {
    background-color: transparent;
    min-width: 20%;
}
#toggle-theme-btn:hover {
    background-color: black;
    color: var(--clr-emerald);
}

/* Styling for the sidebar */
#page-sidebar {
    background-color: var(--clr-light-teal);
    padding: 16px;
    /* Start and span across row 2, which is our main row. Then position into  */
    grid-row: 2;
    grid-column: 1;
    font-size: 20px;
    text-align: center;
}

/*
- Styling for the todo count 
- Doing min-width and height so that the todo-count at least expands 
	to fit the text of the amount of todos. Though, after triple digits, 
	it's shape becomes more of a melon rather than a circle, which is acceptable.
- Need flex box to center the text for the todo count
*/
.todo-count-el {
    background-color: white;
    font-weight: 700;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the sections containing hte tabs and the tabs themselves. */
.sidebar-tab-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.sidebar-tab {
    cursor: pointer;
    font-size: inherit;
    border: 2px solid black;
    border-radius: var(--border-radius);
    padding: 6px 6px;
    transition: var(--transition);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-tab:hover {
    background-color: black;
    .sidebar-tab-title {
        color: white;
    }
}
.sidebar-tab[data-active="true"] {
    background-color: black;
    .sidebar-tab-title {
        color: white;
    }
}

.sidebar-tab-title {
    transition: var(--transition);
    /* Make the title's max-width the width of the container minus 40px for style purposes */
    max-width: calc(100% - 40px);
    overflow-x: hidden;
}

/* Styling for secondary tab */
.projects-tab-section {
    /* If height of the project's container goes over 150px, we add a scroll bar for it */
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 32px;
}

/* Make it so only the sidebar-tab registers clicks */
.sidebar-tab > * {
    pointer-events: None;
}

/* Style the title "Projects" on the sidebar */
#sidebar-section-title {
    margin-top: 8px;
    margin-bottom: 8px;
    letter-spacing: var(--letter-spacing);
}

/* Fancy styling for button: box shadow is just setting the background when you hover */
#create-project-btn {
    background-color: transparent;
    box-shadow: inset 0 0 0 0 var(--clr-emerald);
    color: black;
    border: 3px solid black;
    padding: var(--section-padding);
}
#create-project-btn:hover {
    box-shadow: inset 0 0 0 120px var(--clr-emerald);
    color: white;
}

/* Styling for main content section: Section where todos are displayed and todo information is displayed */
#page-main-content {
    background-color: white;
    padding: 12px;
    grid-row: 2;
    grid-column: 2 / end;
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Styling header of project-main-content */
#main-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    letter-spacing: var(--letter-spacing);
    grid-row: 1 / 2;
}

#project-btns-container {
    display: flex;
    column-gap: 12px;
}
#project-btns-container {
    border-width: 3px;
}
#project-btns-container button {
    border-width: 4px;
}

/* Make it scrollable if it goes past the height content */
#todo-list-container {
    padding: var(--section-padding);
    width: 70%;
    margin: 0 auto;
    grid-row: 2;
    row-gap: 12px;
    overflow-y: auto;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--section-padding);
    border: 3px solid var(--clr-dark-slate);
    transition: var(--transition);
}

/* For larger screens, we'll hide the description of the todo */
.todo-description-el {
    display: none;
}

.todo-item:hover {
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.5);
}
.todo-item[data-todo-complete="true"] .todo-title-el {
    text-decoration: line-through;
}

/* Styling for section that shows when you have no todos or no projects created */
#empty-tab-section {
    text-align: center;
    margin: 24px;
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
}

#empty-tab-message-primary {
    font-size: 28px;
    margin-bottom: 12px;
}
#empty-tab-message-secondary {
    font-size: 16px;
}

/* Styling for the footer */
#page-footer {
    background-color: var(--clr-emerald);
    color: black;
    text-align: center;
    font-weight: 700;
    padding: var(--section-padding);
    grid-row: 3;
    grid-column: 1 / end;
}

.site-icons {
    width: 30px;
    height: 30px;
}

/* Dark mode styling */
#content.dark-mode {
    #page-header,
    #page-footer,
    #page-sidebar,
    #page-main-content {
        color: white;
    }

    .modal {
        color: white;
        background-color: var(--clr-dark-slate);
    }
    .modal-header {
        color: inherit;
        background-color: var(--clr-dark-gray);
    }
    .modal button {
        color: white;
        border-color: white;
    }
    .modal button:hover {
        color: black;
        border-color: white;
        background-color: white;
    }

    #page-header,
    #page-footer {
        background-color: var(--clr-dark-gray);
    }
    #page-sidebar {
        background-color: var(--clr-dark-sky);
    }

    .sidebar-tab {
        border-color: var(--clr-light-teal);
    }
    .sidebar-tab:hover {
        background-color: var(--clr-light-teal);
        .sidebar-tab-title {
            color: black;
        }
    }
    .sidebar-tab[data-active="true"] {
        background-color: var(--clr-light-teal);
        .sidebar-tab-title {
            color: black;
        }
    }

    .todo-count-el {
        color: black;
    }

    #page-main-content {
        background-color: var(--clr-dark-slate);
    }
    #toggle-theme-btn {
        color: white;
        border-color: white;
    }
    #toggle-theme-btn:hover {
        background-color: white;
        color: var(--clr-dark-gray);
    }
    .todo-item {
        border-color: var(--clr-light-teal);
    }

    #create-project-btn,
    #add-todo-btn,
    #edit-project-btn,
    #delete-project-btn,
    .edit-todo-btn,
    .todo-details-btn,
    .delete-todo-btn {
        color: white;
    }

    #create-project-btn {
        border-color: white;
    }
}

/* Media queries */
/* 
1. For medium sized screens change the layout of the todos
2. Also show the todo descriptions
*/
@media screen and (max-width: 1000px) {
    .todo-item {
        flex-direction: column;
        row-gap: 8px;
    }
    .todo-description-el {
        display: block;
    }
}

/* For medium-smaller sized screens, we make the header layout more compact */
@media screen and (max-width: 750px) {
    #page-header {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .app-logo-container,
    .user-info-section {
        flex-basis: 0px;
        flex-direction: column;
    }
    .app-logo-container {
        margin-bottom: 16px;
    }
    .user-info-section {
        row-gap: 8px;
    }
}

/* 
- When on really small screens
1. Hide the description of the todo.
2. Change layout of the project, making the sidebar placed under the header
*/

@media screen and (max-width: 500px) {
    #project-container {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    #page-header,
    #page-sidebar {
        font-size: 0.7em;
    }

    #page-sidebar {
        grid-row: 2 / 3;
    }

    #page-main-content {
        grid-row: 3 / 4;
        grid-column-start: 1;
    }
    #project-btns-container {
        flex-direction: column;
        row-gap: 8px;
    }
    #todo-list-container {
        width: 100%;
    }
    .todo-description-el {
        display: none;
    }
    #page-footer {
        grid-row: 4 / 5;
    }
}
