*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}
/* scrollbar styles */
*::-webkit-scrollbar {
	width: 6px;
	/* transition: var(--transition); */
}
*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
	border-radius: 20px;
	background-clip: content-box;
}
*::-webkit-scrollbar-track {
	background-color: transparent;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: var(--background-clr-2);
}
:root {
	--background-clr-1: #3b82f6;
	--background-clr-2: #93c5fd;
	--background-clr-3: #60a5fa;
	--background-clr-4: #dbeafe;
	--todo-background-clr: #7dd3fc; 
	--background-clr-dark: #172554;
	--scrollbar-color: #312e81;
	--font-clr-1: black;
	--font-clr-2: #3b82f6;
	--font-clr-3: white;
	--font-1: "Roboto", sans-serif;
	--font-2: "Open Sans", sans-serif;
	--transition: all 0.25s ease-in-out;
	--border-radius: 6px;
	--padding-btn-link: 6px 12px;
	--section-padding: 8px 16px;
	--letter-spacing: 4px;
}
body {
	font-family: var(--font-1), var(--font-2);
}
button {
	padding: var(--padding-btn-link);
	cursor: pointer;
	font-weight: 700;
	transition: var(--transition);
}


.green-btn,
.red-btn,
.gray-btn,
.light-blue-btn {
	color: black;
	background-color: white;
	font-weight: 700;
	padding: var(--section-padding);
	font-family: var(--font-1), var(--font-2);
	border: none;
	border-radius: var(--border-radius);
	transition: var(--transition);
	cursor: pointer;
}

/* Light blue button styles */
.light-blue-btn {
	background-color: var(--background-clr-2);
	color: #5518ab;
}
.light-blue-btn:hover {
	color: var(--background-clr-3);
	background-color: var(--font-clr-1);
}
.light-blue-btn[data-active="true"] {
	color: var(--background-clr-3);
	background-color: var(--font-clr-1);
}

/* Green button styles: Remember to do hover effect for them */
.green-btn {
	border: 2px solid #22c55e;
}
/* Red button styles */
.red-btn {
	border: 2px solid #b91c1c;
}
.gray-btn {
	border: 2px solid #6b7280
}
.green-btn:hover {
	background-color: #22c55e;
	color: white;
}
.red-btn:hover {
	background-color: #b91c1c;
	color: white;
}
.gray-btn:hover {
	background-color: #6b7280;
	color: white;
}


.content-hidden {
	display: none !important;
}


/* Styling for content; mainly for having modals */
.content {
	position: relative;
}

/* Styles for modal forms */
/* Blurred overlay */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Blurs the area behind the element  */
	backdrop-filter: blur(5px); 
	/* This will be over all other content in project-container */
	z-index: 1;
}

.modal {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	/* Make height min-content since heights will vary due to the different forms */
	height: min-content;
	/* Fancy box shadow */
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	background-color: var(--background-clr-4);
}
.modal button {
	padding: 10px 14px;
}
.modal .modal-header {
	padding: var(--section-padding);
	grid-row: 1;
	grid-column: 1 / end;	
	color: var(--font-clr-1);
	font-weight: 700;
	background-color: var(--background-clr-3);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-main-content {
	padding: var(--section-padding);
	font-weight: 700;
}

/* Styling for the form itself */
#item-form {
	padding: var(--section-padding);
	font-weight: 700;
}
#item-form .input-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 12px;
}
#item-form .priority-btns-section {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 12px;
	width: 60%;
}
#item-form fieldset {
	border: none;
}
#item-form input {
	background-color: white;
	border: 2px solid gray;
	padding: var(--section-padding);
}

/* Styling the modal that shows the details of the todo */
.todo-details-section {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	align-items: center;
}





/* Styles for everything related to the project container */
.project-container {
	display: grid;
	/* 
	auto: for the header and footer so it automatically just sizes the row to the size of the content. 
	Then 1fr for the rest of the space in the height for the sidebar and maincontent
	*/
	grid-template-rows: auto 1fr auto; 

	/* left side is just 15% of screen for the left side (which will be sidebar) and then 1fr for the remaining width */
	grid-template-columns: 15% 1fr;
	height: 100vh;
}

/* Header styles */
.project-header {
	background-color: var(--background-clr-1);
	color: var(--font-clr-1);
	font-size: 16px;
	font-weight: 700;
	padding: var(--section-padding);
	display: flex;
	justify-content: space-between;
	
	/* Header starts at the first row in grid and stays there */
	grid-row: 1;

	/* Column starts at 1 and goes to the end since we want the header to span across the page */
	grid-column: 1 / span 2;
	
}

/* Styles for containers in header */
.app-logo-container,
.user-info-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.app-logo-container {
	flex-basis: 200px;
}
.user-info-section {
	flex-basis: 500px;
}

/* Styling for the sidebar */
.project-sidebar {
	background-color: var(--background-clr-3);
	/* padding: var(--section-padding); */
	padding: 16px 0;
	/* Start and span across row 2, which is our main row. Then position into  */
	grid-row: 2;
	grid-column: 1;
	font-size: 20px;
	text-align: center;
}

/* Styling for the todo count */
.todo-count-el {
	background-color: var(--background-clr-4);
	color: var(--font-clr-1);
	text-align: center;
	font-weight: 700;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/* Styling for the sections containing hte tabs and the tabs themselves. */
.sidebar-tab-section {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	text-align: center;
}
.sidebar-tab-item {
	font-size: inherit;
	border: 2px solid black;
	padding: 6px 6px;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 6px;
	transition: var(--transition);
}
.main-tab-section .sidebar-tab-item,
.projects-tab-section .sidebar-tab-item {
	width: 90%;
	display: flex;
	justify-content: space-between;

}
.sidebar-tab-item:hover {
	background-color: var(--background-clr-dark);
	.sidebar-tab-title {
		color: var(--font-clr-3);
	}
}

.sidebar-tab-item[data-active="true"] {
	background-color: var(--background-clr-dark);
	.sidebar-tab-title {
		color: var(--font-clr-3);
	}
}

.sidebar-tab-title {
	transition: var(--transition);
	/* 
	Make the title the full width of the container minus 40px so that todo-count-el has enough space
	to breathe and not be affected by the length of the title
	*/
	width: calc(100% - 40px);
}

/* Styling for secondary tab */
.projects-tab-section {
	margin-left: 12px; /*Have indent to indicate which tabs are under the project's section*/

	/* If height of the project's container goes over 150px, we add a scroll bar for it */
	max-height: 150px;
	overflow-y: auto;

	margin-bottom: 32px;
}

/* Make it so only the sidebar-tab-item registers clicks */
.sidebar-tab-item > * {
	pointer-events: None;
}

/* Style the title "Projects" on the sidebar */
#sidebar-section-title {
	margin-top: 8px;
	margin-bottom: 8px;
	letter-spacing: var(--letter-spacing);
}


/* BOOK MARK: Now create and style the maincontent; don't forget to include the section that tells 
the user if they don't have anything */


/* Fancy styling for button: box shadow is just setting the background when you hover */
#create-project-btn {
	background-color: transparent;
	box-shadow: inset 0 0 0 0 var(--background-clr-1);
	color: var(--font-clr-1);
	border: 2px solid black;
	padding: var(--section-padding);
	
}
#create-project-btn:hover {
	box-shadow: inset 0 0 0 120px var(--background-clr-1);
	color: var(--font-clr-3);	
	border-radius: 0;
}


/* Styling for main content section: Section where todos are displayed and todo information is displayed */
.project-main-content {
	background-color: var(--background-clr-4);
	grid-row: 2;
	grid-column: 2 / end;

	display: grid;
	grid-template-rows: auto 1fr;
}	


/* Styling header of project-main-content */
.main-content-header {
	padding: var(--section-padding);
	width: 70%;
	margin: 0 auto;
	grid-row: 1;
	display: flex;
	justify-content: space-between;
}

/* Make it scrollable if it goes past the height content */
.todo-list-container {
	padding: var(--section-padding);
	width: 70%;
	margin: 0 auto;
	grid-row: 2;
	row-gap: 12px;

	max-height: 400px;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
}

.todo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--section-padding);
	background-color: var(--todo-background-clr);
	transition: var(--transition);
}
.todo-item:hover {
	box-shadow: 5px 5px 0 0 rgba(0,0,0,0.5);
}
.todo-item[data-todo-complete="true"] .todo-title-el {
	text-decoration: line-through;	
}

/* Styling for section that shows when you have no todos or no projects created */
.empty-tab-section {
	border: 2px solid black;
	text-align: center;
	font-weight: 700;
	letter-spacing: var(--letter-spacing);
}

#empty-tab-message-primary-el {
	font-size: 28px;
	margin-bottom: 12px;
}
#empty-tab-message-secondary-el {
	font-size: 16px;
}







/* Styling for the footer */
footer {
	background-color: var(--background-clr-2);
	color: var(--font-clr-1);
	text-align: center;
	font-weight: 700;
	padding: var(--section-padding);

	grid-row: 3;
	grid-column: 1 / end;
}

.site-icons {
	width: 30px;
	height: 30px;
}
